<ion-view title="Page" id="page20">
  <ion-content padding="true" style="background: url(img/Ux0DgkoaQcu7MpQcP2Q7_ink-art-powerpoint-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page14-list26">
      <ion-item class="item-icon-left" id="page14-list-item25" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <button id="page14-button14" class="button button-positive button-block">الجُملَة</button>
    <h1 id="page14-heading2" style="color:#000000;text-align:center;">المَوزٌ</h1>
    <div>
      <img src="img/zZWwRIEvTmHfCrbQ98YQ_giphy.gif" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page14-button15" class="button button-positive button-block">هَذَا المَوزٌ</button>
    <button id="page14-button22" class="button button-positive button-block">أَنَا أُرِيدُ المَوزٌ</button>
    <div>
      <a style="display:block;" ui-sref="page15()">
        <img src="img/GZUZT2tiRICBQuNqakm0_580b57fcd9996e24bc43c43d.png" style="display: block; width: 30%; height: 40%; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>