<ion-view title="Page" id="page16">
  <ion-content padding="true" style="background: url(img/fcsDrDyRSbmwjA9QSLeB_bac3c15b46c93dd0331a3ea42a9e15f0.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page4-list9">
      <ion-item class="item-icon-left" id="page4-list-item8" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="page4-list-item15" ui-sref="page5()">
        <img src="img/NAr3Lu4AT2VnSHbEm991_papaya_310481.jpg">
        <h2dark>البابايا</h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="page4-list-item16" ui-sref="page6()">
        <img src="img/OFc3bxBkTuwdQ5Hyb6km_577070349_1280x720.jpg">
        <h2positive>الموز</h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="page4-list-item17" ui-sref="page7()">
        <img src="img/nFAHlYlWR26e23cGQHox_water-melon-hi.png">
        <h2assertive>البطيخ</h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left royal" id="page4-list-item18" ui-sref="page8()">
        <img src="img/OhMiXTKdQLS0FlFSATzj_kisspng-lemon-cartoon-clip-art-yellow-mango-5a97fec3e5b9b3.385320171519910595941.jpg">
        <h2royal>المنجو</h2royal>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>