<ion-view title="Page" id="page12">
  <ion-content padding="true" style="background: url(img/mhnk134DSzWvTNBoWITY_bac3c15b46c93dd0331a3ea42a9e15f0.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page3-list10">
      <ion-item class="item-icon-left" id="page3-list-item22" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <button id="page3-button24" class="button button-dark button-block">الدَّرسُ </button>
    <div class="spacer" style="width: 299.508px; height: 83.9531px;"></div>
    <ion-list id="page3-list6">
      <ion-item class="item-thumbnail-left" id="page3-list-item3" ui-sref="page4()">
        <img src="img/QAEbfJZ2SPmZxCZ1sUNy_500_F_123780430_M1dnVmj0XB9qsw0ELxiEwmoM4w9DJDDW.jpg">
        <h2>الكَلِمَة</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="page3-list-item4" ui-sref="page12()">
        <img src="img/f6BCodvcSJmWUoDaqJps_69224928-arabic-islamic-calligraphy-symbols-with-book-vector-illustration-colorful-arabic-alphabet-text-desig.jpg">
        <h2>الجُملَة المُفِيدَة</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>