<ion-view title="Page" id="page22" style="background-color:#BEBED9;">
  <ion-content padding="true" style="background: url(img/Ca4raHfqTphJ2aaygOSg_download204.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page18-list33">
      <ion-item class="item-icon-left" id="page18-list-item29" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <button id="page18-button23" class="button button-royal button-block">التَّدرِيبَات</button>
    <div>
      <img src="img/y90r7kIzTuqkLpuWclfn_papaya_310481.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 89.9688px;"></div>
    <div id="page18-button-bar2" class="button-bar">
      <a ui-sref="wrong()" id="page18-button55" style="color:#292626;" class="button button-stable button-block">المَوزٌ</a>
      <a ui-sref="tahniah()" id="page18-button57" style="color:#121111;font-size:20px;" class="button button-positive button-block">البَابَايَا</a>
    </div>
    <div>
      <a style="display:block;" ui-sref="page19()">
        <img src="img/nTzgWdgSpSZ2BA5c7e7o_classical-arrow.png" style="display: block; width: 30%; height: 30%; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>