<ion-view title="Page" id="page17">
  <ion-content padding="true" style="background: url(img/xjn77l7RqeQwxt54ZnuO_black-pattern-wallpaper-14.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page9-list15">
      <ion-item class="item-icon-left dark" id="page9-list-item11" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <button id="page9-button34" class="button button-positive button-block">الفَوَاكِهُ</button>
    <div>
      <img src="img/Dgvlgm0kSEWFMKmeF6xG_577070349_1280x720.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 299.531px; height: 74.9844px;"></div>
    <div style="margin-right:-20px;">
      <button id="page9-button35" style="left:-10px;font-weight:600;color:#E9EB50;font-size:60px;" class="button button-energized button-large button-full button-outline">المَوزُ</button>
    </div>
  </ion-content>
</ion-view>