<ion-view title="Page" id="page33" style="background-color:#FFF764;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="page21-list20">
      <ion-item class="item-icon-left dark" id="page21-list-item21" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <button id="page21-button25" style="left:-10px;font-weight:600;font-size:30px;" class="button button-dark button-large button-full button-clear">أَنَا أُرِيدُ البِطِّيخُ</button>
    </div>
    <div>
      <a style="display:block;" ui-sref="wrong()">
        <img src="img/zZWwRIEvTmHfCrbQ98YQ_giphy.gif" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="tahniah6()">
        <img src="img/4z9yTvj1QleKDSgpkrxt_giphy2.gif" style="display: block; width: 50%; height: 10%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="page22()">
        <img src="img/nTzgWdgSpSZ2BA5c7e7o_classical-arrow.png" style="display: block; width: 30%; height: 30%; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>