<ion-view title="Page" id="page23">
  <ion-content padding="true" style="background: url(img/TWhneealSmarhE8ZoYiv_ink-art-powerpoint-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page15-list45">
      <ion-item class="item-icon-left" id="page15-list-item26" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <button id="page15-button33" class="button button-positive button-block">الجُملَة</button>
    <h1 id="page15-heading4" style="color:#000000;text-align:center;">البِطِّيخٌ</h1>
    <div>
      <img src="img/4z9yTvj1QleKDSgpkrxt_giphy2.gif" style="display: block; width: 50%; height: 10%; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page15-button40" class="button button-stable button-block">هَذَا البٍطٍّيخٌ</button>
    <button id="page15-button41" class="button button-stable button-block">أَنَا أُرِيدُ البِطِّيخٌ</button>
    <div>
      <a style="display:block;" ui-sref="page16()">
        <img src="img/GZUZT2tiRICBQuNqakm0_580b57fcd9996e24bc43c43d.png" style="display: block; width: 30%; height: 40%; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>