<ion-view title="Page" id="page25">
  <ion-content padding="true" style="background: url(img/Gif2Zn3KSij24zyLk7gU_blue20pink20stripes201.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page17-list31">
      <ion-item class="item-icon-left" id="page17-list-item28" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <button id="page17-button51" style="color:#1C1717;font-size:30px;" class="button button-positive button-block">التَّدرِيبَات</button>
    <button id="page17-button52" style="font-size:30px;" class="button button-stable button-block">الفَوَاكِه</button>
    <div>
      <img src="img/pPDXGfVITzS6IEtdsclC_writing-smiley.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <a style="display:block;" ui-sref="qUIZ1()">
        <img src="img/nTzgWdgSpSZ2BA5c7e7o_classical-arrow.png" style="display: block; width: 30%; height: 30%; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>