<ion-view title="Page" id="page13">
  <ion-content padding="true" style="background: url(img/UkwrMPoQdWmi4K28SD64_bac3c15b46c93dd0331a3ea42a9e15f0.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="page2-list22">
      <ion-item class="item-icon-left assertive" id="page2-list-item23" ui-sref="page()">
        <i class="icon ion-android-home"></i>
        <ion-option-button class="button-assertive"></ion-option-button>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 299.531px; height: 63.9844px;"></div>
    <ion-list id="page2-list7">
      <ion-item class="item-thumbnail-left positive" id="page2-list-item5" ui-sref="page3()">
        <img src="img/vpMDKdxERxuSdSfNVlGq_bookanimated.gif">
        <h2positive>الدَّرسُ
          <p style="white-space:normal;">PELAJARAN</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="page2-list-item6" ui-sref="page17()">
        <img src="img/caujxY8DRmKQbSMQv1hT_notepad.gif">
        <h2positive>التَّدرِيبَات
          <p>LATIHAN</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="page2-list-item9" ui-sref="vIDEO()">
        <img src="img/UP5MYztKQ6OpNCk75tWf_DownrightCautiousAnglerfish-small.gif">
        <h2positive>الفِيدِيو
          <p>VIDEO</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>