<ion-view title="Page" id="page34">
  <ion-content padding="true" style="background: url(img/af8VlRrQRsqlvkPWAqsA_background.png) no-repeat center;background-size:cover;" class="has-header">
    <div id="page6-button-bar6" class="button-bar">
      <a ui-sref="page2()" id="page6-button32" class="button button-dark button-block icon ion-ios-home"></a>
      <a ui-sref="page4()" id="page6-button44" class="button button-dark button-block icon ion-android-menu"></a>
    </div>
    <button id="page6-button16" class="button button-calm button-block">الفَوَاكِهُ</button>
    <div>
      <img src="img/3S7p6w2sQ0mJN7TtX4aq_9-Kebaikan-Pisang.jpg" style="display: block; width: 60%; height: 50%; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="page6-button17" style="left:-10px;font-weight:500;color:#1C1A1A;font-size:40px;border-radius:70px 70px 70px 70px;" class="button button-light button-large button-full">المَوزٌ</button>
    </div>
    <div>
      <a style="display:block;" ui-sref="page5()">
        <img src="img/rDvEmGNqTceQdoNOvgk4_next-button-clipart-arrow-696320-4113712.png" style="display: block; width: 20%; height: auto; margin-left: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="page7()">
        <img src="img/83nzjOgSMeSzFUfjFhLF_800px_COLOURBOX32597704.jpg" style="display: block; width: 20%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>