<ion-view title="Page" id="page26" style="background-color:#C1C7E0;">
  <ion-content padding="true" class="has-header">
    <ion-list id="page19-list35">
      <ion-item class="item-icon-left" id="page19-list-item30" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <button id="page19-button58" style="color:#19171A;" class="button button-royal button-block">التَّدرِيبَات</button>
    <div>
      <img src="img/JbVEkUgaSUW29FaJEh2B_kisspng-lemon-cartoon-clip-art-yellow-mango-5a97fec3e5b9b3.385320171519910595941.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page19-button-bar3" class="button-bar">
      <a ui-sref="tahniah2()" id="page19-button59" class="button button-royal button-block">المَنجُو</a>
      <a ui-sref="wrong()" id="page19-button60" class="button button-assertive button-block">البِّطِّيخٌ</a>
    </div>
    <div>
      <a style="display:block;" ui-sref="page20()">
        <img src="img/nTzgWdgSpSZ2BA5c7e7o_classical-arrow.png" style="display: block; width: 30%; height: 30%; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>