<ion-view title="pisang" id="page46" style="background-color:#F7F8B3;">
  <ion-content padding="true" class="has-header">
    <ion-list id="pisang-list14">
      <ion-item class="item-icon-left dark" id="pisang-list-item10" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <button id="pisang-button27" class="button button-energized button-block">التَّدرِيبَات</button>
    <div>
      <img src="img/uEebixdERJORMnohRJSK_9-Kebaikan-Pisang.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="pisang-button-bar9" class="button-bar">
      <a ui-sref="wrong()" id="pisang-button28" class="button button-energized button-block">المَنجُو</a>
      <a ui-sref="tahniah4()" id="pisang-button30" class="button button-assertive button-block">المَوزٌ</a>
    </div>
    <div>
      <a style="display:block;" ui-sref="yeay()">
        <img src="img/nTzgWdgSpSZ2BA5c7e7o_classical-arrow.png" style="display: block; width: 30%; height: 30%; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>