<ion-view title="QUIZ 3 (3)" id="page53" style="background-color:#C7F3A4;">
  <ion-content padding="true" class="has-header">
    <ion-list id="qUIZ33-list41">
      <ion-item class="item-icon-left dark" id="qUIZ33-list-item53" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <div>
      <img src="img/SjoyGp7CTw2UL10mf8Tq_8797.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 299.531px; height: 42.9844px;"></div>
    <div id="qUIZ33-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:50px;">هَذِهِ البِطِّيخُ</p>
    </div>
    <div class="spacer" style="width: 299.531px; height: 42.9844px;"></div>
    <div id="qUIZ33-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:50px;">أَنَا أُريدُ البِطِّيخُ</p>
    </div>
    <div class="spacer" style="width: 299.508px; height: 24.9844px;"></div>
    <div id="qUIZ33-button-bar12" class="button-bar">
      <a ui-sref="tahniah10()" id="qUIZ33-button76" style="font-size:30px;border-radius:20px 20px 20px 20px;" class="button button-balanced button-block">خطأ</a>
      <a ui-sref="wrong()" id="qUIZ33-button77" style="font-size:30px;border-radius:20px 20px 20px 20px;" class="button button-balanced button-block">صحيح</a>
    </div>
  </ion-content>
</ion-view>