<ion-view title="QUIZ 1" id="page61" style="background-color:#CEFFC2;">
  <ion-content padding="true" class="has-header">
    <ion-list id="qUIZ1-list47">
      <ion-item class="item-icon-left dark" id="qUIZ1-list-item57" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <h1 id="qUIZ1-heading14" style="color:#000000;text-align:center;">التَّدرِيبَات 1</h1>
    <div class="spacer" style="width: 299.531px; height: 57.9844px;"></div>
    <h1 id="qUIZ1-heading15" style="color:#000000;text-align:center;">اختَر الكَلِمَةالمُنَاسِبَة</h1>
    <h3 id="qUIZ1-heading16" style="color:#000000;text-align:center;">SILA PILIH PERKATAAN YANG BETUL</h3>
    <div class="spacer" style="width: 299.508px; height: 103.984px;"></div>
    <div>
      <a style="display:block;" ui-sref="page18()">
        <img src="img/S8b8o7sTQzuMPCTaH3hZ_classical-arrow.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>