<ion-view title="QUIZ 2" id="page60" style="background-color:#C2FFFF;">
  <ion-content padding="true" class="has-header">
    <ion-list id="qUIZ2-list46">
      <ion-item class="item-icon-left dark" id="qUIZ2-list-item56" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <h1 id="qUIZ2-heading11" style="color:#000000;text-align:center;">التَّدرِيبَات 2</h1>
    <div class="spacer" style="width: 299.531px; height: 57.9844px;"></div>
    <h1 id="qUIZ2-heading12" style="color:#000000;text-align:center;">اختَر الصُّورَة المُنَاسِبَة</h1>
    <h3 id="qUIZ2-heading13" style="color:#000000;text-align:center;">SILA PILIH GAMBAR YANG BETUL</h3>
    <div class="spacer" style="width: 299.531px; height: 57.9844px;"></div>
    <div>
      <a style="display:block;" ui-sref="qUIZ21()">
        <img src="img/S8b8o7sTQzuMPCTaH3hZ_classical-arrow.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>