<ion-view title="QUIZ 2(1)" id="page32" style="background-color:#FFF764;">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="qUIZ21-list16">
      <ion-item class="item-icon-left dark" id="qUIZ21-list-item20" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <div style="margin-right:-20px;">
      <button id="qUIZ21-button64" style="left:-10px;font-weight:600;" class="button button-balanced button-large button-full button-clear">أَنَا أُرِيدُ البَابَايَا</button>
    </div>
    <div>
      <a style="display:block;" ui-sref="tahniah5()">
        <img src="img/zkOLb402R0GJcADORTqf_tenor.gif" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="wrong()">
        <img src="img/2QF40CdQTdSvadbmGA0s_ViciousAchingHake-small.gif" style="display: block; width: 80%; height: 100%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>