<ion-view title="QUIZ 3" id="page54" style="background-color:#F5C9EC;">
  <ion-content padding="true" class="has-header">
    <ion-list id="qUIZ3-list44">
      <ion-item class="item-icon-left dark" id="qUIZ3-list-item55" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <h1 id="qUIZ3-heading10" style="color:#000000;text-align:center;">التَّدرِيبَات 3</h1>
    <div class="spacer" style="width: 299.508px; height: 27.9844px;"></div>
    <div>
      <img src="img/LJE6eVQQ1eP2grIqyINv_.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 299.508px; height: 19.9844px;"></div>
    <div>
      <img src="img/yy8zXagPSGqtHrGhCJQS_ARAHAN2.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 299.531px; height: 57.9844px;"></div>
    <div>
      <a style="display:block;" ui-sref="qUIZ31()">
        <img src="img/S8b8o7sTQzuMPCTaH3hZ_classical-arrow.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>