<ion-view title="QUIZ 3 (2)" id="page52" style="background-color:#F3F0A4;">
  <ion-content padding="true" class="has-header">
    <ion-list id="qUIZ32-list38">
      <ion-item class="item-icon-left dark" id="qUIZ32-list-item51" ui-sref="page2()">
        <i class="icon ion-ios-home"></i>
      </ion-item>
    </ion-list>
    <div>
      <img src="img/4HbkIDlQqWL1kebUUeWM_kisspng-india-mango-alphonso-fruit-mangifera-indica-mango-5abb9040b36938.4279828315222416007349.jpg" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 299.531px; height: 42.9844px;"></div>
    <div id="qUIZ32-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:50px;">هَذَا البَابَايَا</p>
    </div>
    <div class="spacer" style="width: 299.531px; height: 42.9844px;"></div>
    <div id="qUIZ32-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:50px;">أَنَا أُرِيدُ البَابَايَا</p>
    </div>
    <div class="spacer" style="width: 299.531px; height: 42.9844px;"></div>
    <div id="qUIZ32-button-bar11" class="button-bar">
      <a ui-sref="tahniah9()" id="qUIZ32-button74" style="font-size:30px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">خطأ</a>
      <a ui-sref="wrong()" id="qUIZ32-button75" style="font-size:30px;border-radius:20px 20px 20px 20px;" class="button button-energized button-block">صحيح</a>
    </div>
  </ion-content>
</ion-view>