<ion-view title="Tahniah" id="page44">
  <ion-content padding="true" style="background: url(img/zWjGpwxZTvqJL9Y9tFVn_images.png) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/muZNsknR0eMVOQOnuqBX_136149053613.gif" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/BmyarGKJRmSnOazUEFiE_68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f5f536b39614c33613232577047513d3d2d32333933.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/RHLyEJnrR5CqhgViHvci_3.PNG" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <a style="display:block;" ui-sref="pisang()">
        <img src="img/h4RHwUHPSMm3mR6oQVtI_arrrrp.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>