<ion-view title="Tahniah 9" id="page57">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/muZNsknR0eMVOQOnuqBX_136149053613.gif" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/iJVk6ymDRtiVG0gn4Ql4_tenor3.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/pKo7oQASRtW3QdnevY3X_9.PNG" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <a style="display:block;" ui-sref="qUIZ33()">
        <img src="img/h4RHwUHPSMm3mR6oQVtI_arrrrp.png" style="display: block; width: 20%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>