<ion-view title="the end" id="page30">
  <ion-content padding="true" style="background: url(img/tWlNaHNsQjm3B9mTyXmG_zdcd.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="theEnd-list23">
      <ion-item class="item-icon-left assertive" id="theEnd-list-item35" ui-sref="page()">
        <i class="icon ion-android-home"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 299.508px; height: 22.9844px;"></div>
    <h1 id="theEnd-heading7" style="color:#000000;text-align:center;">!!!خَلَص</h1>
    <h1 id="theEnd-heading8" style="color:#000000;text-align:center;">THE END</h1>
    <div>
      <img src="img/uJRwk4mqRKaQSlsO5fji_22.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>