<ion-view title="VIDEO" id="page42">
  <ion-content padding="true" style="background: url(img/V4R8g7YQzmfHKutMa0yQ_13-iPhone-X-Wallpapers-by-PreppyWallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="vIDEO-heading9" style="color:#000000;text-align:center;">الفِيديُو</h1>
    <div class="spacer" style="width: 299.531px; height: 82.9844px;"></div>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/vaLtSQrfcy8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="vIDEO-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <button id="vIDEO-button66" style="font-size:30px;" class="button button-assertive button-block">هَيَّا نَنظُرُ مَعًَا</button>
    <div class="spacer" style="width: 299.531px; height: 60.9844px;"></div>
    <div id="vIDEO-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">video disediakan oleh: Mohd Nur Siddiq bin Nurul Amali</p>
    </div>
  </ion-content>
</ion-view>