<ion-view title="yeay yeay yay" id="page59" style="background-color:#E9415F;">
  <ion-content padding="true" style="background: url(img/MlFs9nMxRsmHLk52Q53O_4b6b72e2c27a65c7b83fb3e12575f840--phone-backgrounds-wallpaper-backgrounds.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/SR6UtjsZStObhxMtgJIe_101001.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/SOStWaz3TA6r0icAQSxn_68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f5f536b39614c33613232577047513d3d2d32333933.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <a style="display:block;" ui-sref="theEnd()">
        <img src="img/KBf5R8uJQYKtCOT1ZKD2_forward_button-512.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>