<ion-view title="yeay yeay" id="page51" style="background-color:#E9415F;">
  <ion-content padding="true" style="background: url(img/QtiZUJrTpWxPWgELHfVV_c85d588b8b32e43dc7c75580cd16e3cc.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/kPdoFjnAQ62sAJNMrKPY_gfh.PNG" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/0mPdGmDSWW0jQoBGXyDt_DanceBot-3-Sm.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <a style="display:block;" ui-sref="qUIZ3()">
        <img src="img/KBf5R8uJQYKtCOT1ZKD2_forward_button-512.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>