<ion-view title="yeay" id="page28">
  <ion-content padding="true" style="background: url(img/piUn3tFaSFaeW3PBDIqp_53243806_2261514753871464_8350826113294925824_n.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 299.508px; height: 35.9766px;"></div>
    <div>
      <img src="img/9nucmThPS06R6Ml6dCqU_worldcup_l69oohri.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="yeay-heading6" style="color:#E6E253;font-weight:600;text-align:center;">!!مُمتَاز</h1>
    <div>
      <a style="display:block;" ui-sref="qUIZ2()">
        <img src="img/QmmsjC2dSuueAQbr0YmJ_classical-arrow.png" style="display: block; width: 30%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>