<?xml version='1.0' encoding='utf-8'?>
<widget id="com.infitt.rest" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>REST</name>
    <description>
    Aplikasi telefon bimbit untuk mempelajari nama buah-buahan dalam Bahasa Arab 
    </description>
    <author email="info@otpam.com" href="http://otpam.com">
   OTPAM
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
</widget>
